## Support Vector Machine ( SVM )
- Support Vector Machine is a Supervise Machine Learning Algorithm which is used for both classification and regression (mainly classification).
- Hyperplane: Decision boundary that maximally separates classes in the feature space.
- Support Vectors: Data points closest to the decision boundary, influencing the position and orientation of the hyperplane

## Approach
#### These steps outline the process to be followed when working on a predictive model: 
- Problem Definition
- Data Collection
- Data Preprocessing
- Feature Selection/Engineering
- Data Splitting
- Model Selection
- Model Training
- Prediction
- Hyperparameter Tuning
- Model Evaluation

## Problem Definition

### *Clearly state the problem you want to solve, as well as the outcome you want to predict.*

Here we have to predict the type of flower using the petal lenght bredth etc using Iris Dataset.

In [2]:
# Importing libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

## Data Collection

### *Gather relevant data that will be used to train and test the prediction model.*

In [3]:
from sklearn.datasets import load_iris

In [4]:
Iris = load_iris()

## Data Preprocessing


### *Clean the data by handling missing values, dealing with outliers, data visualization, normalizing features, and encoding categorical variables.*

In [9]:
Iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [11]:
Iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [14]:
df = pd.DataFrame(Iris.data, columns= Iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [17]:
df['target'] = Iris.target

In [20]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

## Feature Selection/Engineering

### *Identify which features are important for the prediction task and create new features if needed.*

In [26]:
X = df.drop('target', axis = 'columns')

In [27]:
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [28]:
y = df['target']

In [31]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int32

## Data Splitting

### *Divide the datasets into a training set and a testing set to evaluate your model's performance.*

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.3, random_state= 42)

## Model Selection

### *Choose an appropriate machine learning algorithm based on the type of problem (classification, regression, etc.) and the characteristics of the data.*

In [32]:
from sklearn.svm import SVC

In [39]:
model = SVC(kernel = 'linear')

## Model Training

### *Use the training data to train the selected model by adjusting its parameters to minimize the prediction error.*

In [40]:
model.fit(X_train, y_train)

SVC(kernel='linear')

## Prediction

### *Once the model is trained and validated, it can be used to make predictions on new, unseen data.*

In [41]:
model.predict(X_test)

array([1, 0, 2, 1, 1, 0, 1, 2, 1, 1, 2, 0, 0, 0, 0, 1, 2, 1, 1, 2, 0, 2,
       0, 2, 2, 2, 2, 2, 0, 0, 0, 0, 1, 0, 0, 2, 1, 0, 0, 0, 2, 1, 1, 0,
       0])

In [42]:
model.predict([[5.1, 3.5, 1.4, 0.2]])

array([0])

## Hyperparameter Tuning

### *Fine-tune the model's hyperparameters to optimize its performance.*

No need !!!

## Model Evaluation

### *Assess the model's performance on a separate set of data not used during training to understand its predictive power and generalization capability.*

In [43]:
model.score(X_test, y_test)

1.0

## Thank You !!!